body
{
	background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat;
    background-position: 0 0;
}

label
{

  color: black;
    font-size: 15px;
    font-style: italic;
 text-decoration: underline;
  display: flex;
  align-items: center;

}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
